$primary_color : #6924ED;
$text_color : rgb(77, 76, 76);

.c-schedule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: monospace;

    & h4 {
        font-weight: bold;
        color: $text_color;
        padding: 5px;
    }

    &__div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        padding: 15px;

        color: $text_color;
        border-bottom: 2px solid $primary_color ;

        & h5 {
            font-weight: bold;
        }
    }
}