$primary_color : #6924ED;
$text_color : rgb(77, 76, 76);

.c-services {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Gideon Roman', cursive;;

    &__logo{

        width: 100%;
        margin: 15px;
        max-width: 500px;

        & img {
            width: 75%;
            height: 250px;
            
        }

    }

    &__card {
        padding: 15px;
        width: 75%;
        max-width: 750px;
        border: 1px solid green;
        margin: 15px;

        background-color: $primary_color;
        color: white;

        box-shadow: 3px 3px 3px grey;
    }

}