$primary_color : #6924ED;

.c-presentation {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    width: 100%;

    font-family: monospace;

    &__title {
        color: $primary_color;
        padding: 15px;
        font-weight: bold;
        font-size: 35;
        font-family: monospace;
    }

    &__info {

        margin: 20px 0px;
        padding: 10px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & img {
            width: 80%;
            height: 80%;

            box-shadow: 3px 3px 3px grey;
        }

        & h5 {
            width: 80%;
            margin: 10px;
            padding: 15px;
            color: $primary_color
        }

    }


}