$primary_color : #6924ED;

$text_color : rgb(77, 76, 76);

.c-appointment {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    font-family: monospace;
    
    &__form {

        color: $text_color;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__input {

            padding: 10px;
            margin: 10px;

            text-align: center;
        }

        &__button {

            background-color: $primary_color;
            color: white;

            padding: 10px;
            font-weight: bold;
            font-size: 15px;
            font-weight: bold;
            font-family: 'Gideon Roman', cursive;
            border: none;
        }

    }

    &__inmediatly {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 90%;
        max-width: 750px;
        padding: 20px;

        color: rgb(77, 76, 76);

        border-bottom: 2px solid $primary_color;
    
        &__program {

            padding: 15px;
            margin: 15px;

        } 

        }

    }

