$primary_color : #6924ED;
$text_color : rgb(77, 76, 76);

.c-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: monospace;

    & h4 {
        font-size: 30px;
    }

    & h5 {
        width: 80%;
    }

    &__form {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 20px;
        border: 3px solid $primary_color;
        margin: 15px;
        box-shadow: 3px 3px 3px grey;

        &__input {
            margin: 10px;
            text-align: center;
            border: 2px solid $text_color;
            border-radius: 10px;
            margin-bottom: 15px;

            &__text {

                margin: 10px;
                text-align: center;
                border: 2px solid $text_color;
                border-radius: 10px;
                margin-bottom: 15px;
                height: 50px;
            }
        }

        &__button {
            color: white;
            background-color: $primary_color;
            width: 80px;
            height: 40px;
            font-weight: bold;
            border: none;
            font-size: 20px;
        }

    }
}