$primary_color : #6924ED;

.c-header{

    width: 100%;
    height: 150px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: monospace;

    border-bottom: 1px solid $primary_color;

    &__logo {
        width: 150px;
        height: 140px;
    }

    &__nav {
        width: 69%;
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &__link {
            margin: 0px 10px;

            text-decoration: none;
            font-weight: bold;
            font-size: 20px;
            color:$primary_color;
        }
    }

}