$primary_color : #6924ED;

.c-footer {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 120px;

    font-family: monospace;
    font-weight: bold;
    
    background-color: $primary_color;
    color: white;

    & p {
        width: 30%
    };
}