$primary_color : #6924ED;

$text_color : rgb(77, 76, 76);

.c-mycites {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: monospace;

    &__info {

        background-color: $primary_color;

        width: 75%;
        max-width: 400px;

        margin: 10px;
        padding: 15px;
        border: 2px solid $primary_color;

        box-shadow: 3px 3px 3px grey;

        & h5 {
            color: white;
            font-weight: bold;
        }

    }

    &__noinfo {

        margin: 15px;
        padding: 15px;
        
        color: $text_color;
        
        border: 2px solid $text_color;

    }

}
