$primary_color : #6924ED;

.c-center {

    &__buttons{

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        width: 100%;
        height: 100px;

        background-color: $primary_color;
    }

}