.c-workerpage {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    font-family: monospace;
}

.c-workerpage__info {

    max-width: 1000px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    font-family: monospace;

}

