$primary_color : #6924ED;
$text_color : rgb(77, 76, 76);

.c-center {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: monospace;

    & h4 {
        color: $text_color;
        font-weight: bold;
        padding: 15px;
    }

    & img {

        width: 95%;
        max-width: 600px;
        height: 20%;   
        max-height: 400px;

    }

    &__center{

        padding: 15px;
        
        color: $text_color;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }

}